<p style="color: green"><%= notice %></p>

<%# <%= render @todo %>
<p>
  <strong>Name:</strong>
  <%= @todo.name %>
<p>


<div style="border:2px solid blue ; margin:auto ; padding:15px 12px 15px 20px;"> 
  <% @tasks.each do |task|%>
  <%# <%raise @tasks.inspect%> 
    <% if task.done==true %>
      <strike style= color:red>
      <p><%= task.title %></p>
      </strike>
      <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done%>
        
        <%= f.submit "undo"%>
      <% end %>

    <% elsif task.done==false %>
      <p style= color:green><%= task.title %></p>
      <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done%>
        
        <%= f.submit "done"%>
      <% end %>
    <% end %>
  <% end %>


  <%= form_for @task do |f| %>
    <p><%= f.text_field :title %></p>
    <%# <%= f.check_box :done %> 
    <%= f.hidden_field :done, :value=>false %>
    <%= f.hidden_field :todo_id, :value=>@todo.id %>
    <%= f.submit "Add Task"%>
  <% end %>
  <%= link_to "Edit this todo", edit_todo_path(@todo) %> |
  <%= link_to "Back to todos", todos_path %>

  <%= button_to "Destroy this todo", @todo, method: :delete %>
</div>
